<div class="info-content">
	<h1>Glory Supertype</h1>
	<p>
		O <a href="https://mtg.fandom.com/wiki/Supertype" target="_blank">Supertype</a> Glory é um super tipo feito
		especificamente para o MagicGG <i>(Magic Glory Game)</i> que expande jogos de MTG Commander ao adicionar novas cartas e novas mecanicas.
	</p>
	<h2>Caracteristicas de cartas Glory</h2>
	<ul>
		<li>
			Cartas Glory interagem com cartas normais de MTG no que toca a triggers e efeitos estaticos que afetam os jogadores.
			<ul>
				<li>
					Por exemplo, se um oponente tiver um <a href="https://gatherer.wizards.com/pages/Card/Details.aspx?multiverseid=461148"
						target="_blank">Teferi, Time Raveler</a> em campo e tentares jogar uma Glory Instant em resposta a outra carta, as
					regras normais aplicam-se e só poderás jogar a tua Glory Instant em qualquer altura que pudesses jogar uma Sorcery.
				</li>
				<li>
					Se conjurares uma carta Glory que seja verde e se tiveres uma carta como <a href="https://gatherer.wizards.com/pages/card/Details.aspx?multiverseid=370592" target="_blank">Staff of the Wild Magus</a>, o Staff of the Wild Magus vai triggar e dar-te 1 ponto de vida.
				</li>
			</ul>
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-6 default-card-image-container">
						<img src="https://cards.scryfall.io/large/front/5/c/5cb76266-ae50-4bbc-8f96-d98f309b02d3.jpg">
					</div>
					<div class="col-sm-12 col-md-6 default-card-image-container">
						<img src="https://cards.scryfall.io/large/front/e/6/e64f31e8-0b49-4510-a4df-2e0bea793d3e.jpg">
					</div>
				</div>
			</div>
		</li>
		<li>
			Cartas Glory sem custo custam <i class="ms ms-0 ms-cost ms-shadow"></i> a serem conjuradas.
		</li>
		<li>
			Jogadores em qualquer momento num turno podem escolher adquirir 2 Contadores Poison para que as suas cartas Glory não sejam impedidas de serem conjuradas até ao fim desse turno.
			<ul>
				<li>
					Por exemplo, se um oponente tiver um <a
						href="https://gatherer.wizards.com/pages/Card/Details.aspx?multiverseid=461148" target="_blank">Teferi, Time
						Raveler</a> em campo, podes escolher adquirir 2 contadores Poison para poderes conjurar uma Glory Instant em resposta a outra carta. Se assim o fizeres todas as tuas cartas Glory não são prevenidas por efeitos "não" até ao fim desse turno.
				</li>
				<li>
					Contra-magias, habilidades e outros feitiços que interajam diretamente com a carta Glory continuam a resolver os seus efeitos mesmo que o controlador da carta Glory adquira os 2 contadores Poison.
				</li>
			</ul>
		</li>
		<li>
			Cartas Glory contam para estar na mão do jogador para efeitos como o do <a href="https://gatherer.wizards.com/Pages/Card/Details.aspx?name=Drannith+Magistrate" target="_blank">Drannith Magistrate</a>.
		</li>
		<li>
			Cartas Glory não contam para estar na mão do jogador para efeitos como o do <a
				href="https://gatherer.wizards.com/pages/card/Details.aspx?multiverseid=214349" target="_blank">Jin-Gitaxias, Core Augur</a>.
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-6 default-card-image-container">
							<img src="https://cards.scryfall.io/large/front/9/8/98b0a4a8-9319-451b-9b79-b0bca7a41e91.jpg">
						</div>
						<div class="col-sm-12 col-md-6 default-card-image-container">
							<img src="https://cards.scryfall.io/large/front/1/4/14a360b6-c7b4-4b25-8288-b3bb8d527bda.jpg">
						</div>
					</div>
				</div>
		</li>
		<li>
			Cartas Glory estão na mão do Jogador, no entanto não contam para handsize.
		</li>
		<li>
			Cartas Glory não podem ser descartadas por efeitos de cartas de MTG como <a
				href="https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=680745" target="_blank">Duress</a> ou <a href="https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=373632" target="_blank">Thoughtseize</a>.
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-6 default-card-image-container">
							<img src="https://cards.scryfall.io/large/front/6/8/68cd43ba-646b-44b3-a1a5-0e6b6ceca866.jpg">
						</div>
						<div class="col-sm-12 col-md-6 default-card-image-container">
							<img src="https://cards.scryfall.io/large/front/6/5/65b7275a-5305-42e6-b5c3-8b88568b4e28.jpg">
						</div>
					</div>
				</div>
		</li>
		<li>
			Um jogador pode responder a outro jogador usado cartas Glory.
		</li>
		<li>
			No entanto cartas Glory não podem ser respondidas por feitiços, abilidades e ações especiais de cartas MTG excepto abilidades de mana.
		</li>
		<li>
			Cartas Glory não são afetadas por Split Second vindo de cartas MTG. No entanto respeitam o Split Second de outras cartas Glory.
		</li>
		<li>
			Isto deve-se a cartas Glory jogarem a um nível a cima da velociade das cartas de MTG.
			<div class="container">
				<div class="row">
					<div class="col-12 default-card-image-container">
						<img src="https://raw.githubusercontent.com/PeepsCallMeLushi/MagicGG/refs/heads/main/src/assets/Glory%20Speed.drawio.png">
					</div>
				</div>
			</div>
		</li>
		<li>
			Cartas Glory são colocadas para o cemitério depois de serem usadas como qualquer jogo normal de Magic.
			<ul>
				<li>
					Cartas glory podem ser reanimadas, reutilizadas no cemitério ou ser devolvidas para a mão.
				</li>
				<li>
					Se um efeito causar com que cartas glory sejam baralhadas no baralho, ou causar com que sejam exiladas, elas são
					baralhadas no baralho glory em vez.
					<ul>
						<li>
							Jogadores não compram cartas glory neste momento para compensar cartas em falta nas suas mãos.
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li>
			No fim do jogo quaisquer cartas no cemitério podem ser baralhadas de volta no Baralho Glory, se isso for feito, compra um numero de cartas do baralho Glory igual ao numero de cartas que baralhaste.
		</li>
		<li>
			Se tiveres cartas glory a mais, baralha um número dessas cartas à tua escolha de volta no baralho glory até teres o limite máximo definido. Não voltas a comprar igual ao número que baralhaste.
		</li>
		<li>
			Depois de devolveres cartas ao baralho glory no fim de uma partida e de teres comprado, se ainda tiveres menos cartas na mão do que o maximo permitido, compra até ao limite máximo.
		</li>
		<li>
			O número máximo de cartas Glory que um jogador pode ter na mão é decidido pelo formato. E o formato é acordado pelos jogadores participantes.
			<ul>
				<li>
					Se o formato definir limites para o numero de cartas que podes ter na mão de uma certa caracteristica e tiveres mais do que o limite definido, escolhe as cartas com que queres ficar e baralha o resto no baralho glory.
				</li>
			</ul>
		</li>
		<li>
			O jogador só necessita de "descartar para hand size" e só necessita de respeitar os limites das caracteristicas das cartas no fim de cada partida quando for a baralhas as cartas usadas no baralho glory.
			<ul>
				<li>
					Jogadores podem ter mais cartas glory do que as permitidas durante as partidas se um efeito fizer com que comprem mais cartas glory.
				</li>
			</ul>
		</li>
	</ul>
</div>

