<div class="info-content">
	<div class="home-page-title">
		<h1>Magic GG</h1>
		<i>(Glory Game)</i>
	</div>
	<p>
		Magic GG é uma forma de combinar <a href="https://magic.wizards.com/en/intro" target="_blank">MTG</a> com o jogo da <a href="https://dicionario.priberam.org/jogo%20da%20gl%C3%B3ria" target="_blank">glória</a> onde foram criadas cartas customizadas que afetam os jogos normais de MTG Commander e que dependendo de ações dentro do jogo faz com que os jogadores se movam dentro do tabuleiro.
	</p>
	<p>
		Na nossa variação, criamos o nosso próprio tabuleiro com as nossas próprias regras. Certas cartas fazem com que as pessoas se movam no tabuleiro, outras só expandem os jogos de MTG.
	</p>

</div>