<div class="info-content">
	<h1>Conspiracy Subtypes</h1>
	<p>
		Conspiracy como tipo é um tipo que <a href="https://mtg.fandom.com/wiki/Conspiracy_(card_type)" target="_blank">já existem em MTG</a> e que tem o seu próprio <a href="https://magic.wizards.com/en/formats/conspiracy" target="_blank">modo de jogo</a>. MagicGG apropria-se deste tipo de carta para desenhar as suas próprias cartas, mas em nada têm a ver com as cartas Conspiracy existentes, o único atributo que partilham é o nome.
	</p>
	<h2 id="Single_Use_Conspiracies">Single Use Conspiracies</h2>
	<ul>
		<li>
			Conspiracies do tipo Single Use só podem ser usadas uma vez.
		</li>
		<li>
			Conspiracies do tipo Single Use podem ser usadas em jogos com um minimo de 2 jogadores. A não ser que a carta digo o contrário.
		</li>
		<li>
			Este tipo de Conspiracy pode ser usado em qualquer altura desde que observes os seus requisitos a acontecerem.
			<ul>
				<li>
					Isto significa que não necessitas de estar a participar no jogo em que os requisitos aconteceram para beneficiar da recompensa. Só necessitas de o ver a acontecer.
				</li>
				<li>
					O que está escrito na carta é a informação mais válida. O que significa que se a carta requerir que estejas a participar num jogo, então terás de estar a participar num jogo.
				</li>
			</ul>
		</li>
		<li>
			Depois de uma Conspiracy do tipo Single Use ter sido usada, tem de ser baralhada de volta no baralho.
		</li>
		<li>
			Se foi usada durante um jogo no qual estás a participar, poderás aguardar até ao fim do jogo para beneficiar das recompensas.
			<ul>
				<li>
					Deverás de a colocar de lado para não confundires com as outras cartas que ainda podes jogar.
				</li>
			</ul>
		</li>
		<li>
			Usar Conspiracies do tipo Single Use não te dá o direito de comprar uma carta para a substituir.
		</li>
	</ul>
	<h2 id="Reusable_Conspiracies">Reusable Conspiracies</h2>
	<ul>
		<li>
			Conspiracies do tipo Reusable podem ser usadas multiplas vezes.
			<ul>
				<li>
					Depois de ser usada, a Conspiracy fica em campo a aguardar que as mesmas condições voltem a acontecer para que o utilizador
					volte a usufruir dos beneficios.
				</li>
				<li>
					No fim de um jogo em que foi usada, o jogador pode escolher voltar a colocar a conspiracy na sua mão em vez de a baralhar no baralho.
				</li>
			</ul>
		</li>
		<li>
			Conspiracies do tipo Reusable só podem ser usadas em jogos multiplayer.
			<ul>
				<li>
					Para os propósitos do Magic GG, definimos jogos Multiplayer como jogos com 3 ou mais jogadores.
				</li>
			</ul>
		</li>
	</ul>
	<h2 id="End_of_Day_Conspiracies">End of Day Conspiracies</h2>
	<ul>
		<li>
			Conspiracies do tipo End of Day acontecem apenas uma vez por dia quando o dia acaba e se o jogador escolher beneficiar da mesma.
			<ul>
				<li>
					O fim do dia é definido pelos jogadores participantes. Pode ser numa altura especifica. Numa hora que nunca muda. Ou quando apetecer ao grupo.
				</li>
				<li>
					O jogador dono da Conspiracy End of Day escolhe se quer ativar a mesma ou não.
				</li>
				<li>
					Não há uma ordem no qual as Conspiracies do tipo End of Day tenham de resolver. Elas são resolvidas à medida que os jogadores as vão enunciando.
				</li>
			</ul>
		</li>
		<li>
			Se uma Conspiracy do tipo End of Day for comprada durante a resolução dos efeitos do fim do dia, ela pode ser utilizada ainda neste fim de dia.
		</li>
		<li>
			Uma Conspiracy do tipo End of Day só é baralhada de volta no baralho depois de não existir mais nenhuma carta para resolver e antes de se comprar as cartas para o começo do novo dia.
		</li>
	</ul>
	<h2 id="Friend_or_Foe_Conspiracies">Friend Conspiracies and Foe Conspiracies</h2>
	<ul>
		<li>
			Conspiracies do tipo Friend e do tipo Foe são conspiracies que dão um beneficio estático ao jogador.
		</li>
		<li>
			A pessoa cujo o nome está escrito na tua carta Conspiracy do tipo Friend é o teu designated Friend.
		</li>
		<li>
			A pessoa cujo o nome está escrito na tua carta Conspiracy do tipo Foe é o teu designated Foe.
		</li>
		<li>
			O dono de uma Conspiraciy do tipo Friend ou do tipo Foe não necessita de estar presente ou participar em quaisquer jogos que o seu designated Friend ou designated Foe participem para beneficiar das recompensas.
			<ul>
				<li>
					Por exemplo, se o teu designated Friend ganhar um jogo enquanto estas na casa de banho, beneficias das recompensas.
				</li>
			</ul>
		</li>
	</ul>
</div>