<div class="info-content">
	<h1>Glossário</h1>
	<h2 id="World_Supertype">World Supertype</h2>
	<p>
		Só pode existir uma permanente com o super-tipo World no battlefield. Se duas ou mais permanentes no battlefield têm o super-tipo world, todas excepto a que tem o super-tipo à menos tempo são colocadas nos cemitérios dos seus donos. Em caso de empate para qual permanente tem o super-tipo à menos tempo todas vão para o cemiterio.
	</p>
	<ul>
		<li>
			<a href="https://mtg.fandom.com/wiki/World#Rules" target="_blank">Rules</a>
		</li>
		<li>
			<a href="https://mtg.fandom.com/wiki/World#World_Rule" target="_blank">World Rule</a>
		</li>
		<li>
			<a href="https://mtg.fandom.com/wiki/World#Rulings" target="_blank">Rulings</a>
		</li>
	</ul>
	<h2 id="Combo_Star">Combo Star</h2>
	<p>
		Combo Star é uma abilidade dispultável atribuida a permanentes que foi criada para o Magic GG.
	</p>
	<ul>
		<li>
			Permanentes com a abilidade Combo Star dispultam toda a vez que os seus requisitos acontencem dentro do jogo no qual a permanente se encontra.
		</li>
		<li>
			O resultado da abilidade Combo Star é colocar um contador Combo na permanente com a abilidade.
		</li>
		<li>
			Todos os jogadores que participam num jogo no qual uma permanente com a abilidade Combo Star está em campo, fazem com que ela dispulte.
			<ul>
				<li>
					Isto significa que se uma permanente com a abilidade <i>Combo Star - Endstep</i> estiver em campo, todos os endsteps de todos os jogadores causam com que essa permanente dispulte.
				</li>
			</ul>
		</li>
	</ul>
	<h2 id="Objects_and_Resources">Objects and Resources</h2>
	<p>
		Para os propósitos do Magic GG, isto é como definimos Objectos e Recursos para jogos.
	</p>
	<h3>Objectos</h3>
	<ul>
		<li>
			Qualquer artigo num campo de batalha ou tabuleiro que representem peças de jogo. Como por exemplo:
			<ul>
				<li>
					Miniaturas
				</li>
				<li>
					Permanentes
				</li>
				<li>
					Uma casa num tabuleiro de monopólio
				</li>
				<li>
					As cartas de Dragão colocadas no tabuleiro numa partida de Wyrmspan
				</li>
			</ul>
		</li>
		<li>
			Quaisquer artigos que representem recursos de um jogo não são considerados como objectos. Como por exemplo:
			<ul>
				<li>
					Dinheiro de monopólio
				</li>
				<li>
					As fichas de recursos do Wyrmspan (A ficha do turno, carne, ouro, leite, cristal, etc.)
				</li>
				<li>
					Dados que representem qualquer tipo de recurso que tenha de ser gasto.
				</li>
			</ul>
		</li>
		<li>
			Objectos feitos para serem partilhados entre jogadores, não são contados como objectos dos jogadores. Como por exemplo:
			<ul>
				<li>
					Terreno num jogo de miniaturas
				</li>
				<li>
					Baralhos em comum em tabuleiros de monopólio e wyrmspan
				</li>
				<li>
					Objectos por serem adquiridos num jogo de tabuleiro que ainda não haviam sido adquiridos
				</li>
			</ul>
		</li>
	</ul>
	<h3>Recursos</h3>
	<ul>
		<li>
			Objectos são recursos
		</li>
		<li>
			Conceitos e qualquer artigo num campo de batalha ou tabuleiro que representem conceitos dentro de um jogo. Como por exemplo:
			<ul>
				<li>
					Mana flutuante
				</li>
				<li>
					Cartas na mão
				</li>
				<li>
					Cartas no cemitério
				</li>
				<li>
					As fichas de recursos do Wyrmspan (A ficha do turno, carne, ouro, leite, cristal, etc.)
				</li>
				<li>
					Dinheiro de monopólio
				</li>
				<li>
					Dados que representem qualquer tipo de recurso que tenha de ser gasto.
				</li>
			</ul>
		</li>
		<li>
			Recursos feitos para serem partilhados entre jogadores, não são contados como recursos dos jogadores. Como por
			exemplo:
			<ul>
				<li>
					O Banco do monopólio
				</li>
				<li>
					Baralhos em comum em tabuleiros de monopólio e wyrmspan
				</li>
				<li>
					Recursos por serem adquiridos num jogo de tabuleiro que ainda não haviam sido adquiridos
				</li>
			</ul>
		</li>
	</ul>
	<h3>Notas</h3>
	<ul>
		<li>
			Gastar um recurso não conta como perder um recurso. Para um recurso ser considerado perdido, tem de ser removido de alguma forma negativa. Utilizar um recurso para pagar um custo não conta como perder o recurso.
		</li>
	</ul>
</div>
